#contact {
  background-image: url(../assets/Background_Contacts.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.contact {
  padding-inline: 1rem;
  padding-block: 2rem;
  align-items: center;
  text-align: center;
  gap: 3rem;

  & .link {
    display: flex;
    gap: 0.75rem;
    align-items: center;

    width: 20rem;
    background-color: var(--gray-400);
    border-radius: .5rem;

    padding: 1.25rem;

    margin-inline: auto;

    & img:nth-child(1) {
      width: 1.75rem;
      height: 1.75rem;
    }

    & img:nth-child(3) {
      width: 1.25rem;
      height: 1.25rem;
    }

    & span {
      margin-right: auto;
    }

    &:hover {
      border: 1.5px solid var(--blue);
    }
  }
}

@media (width >=80em) {
  .contact {
    padding: 8rem 7.5rem 12.5rem;
    align-items: center;
    gap: 3rem;

    & .link {
      gap: 0.75rem;
      width: 25rem;
    }

  }
}