* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  /* Principal */
  --red: #E3646E;
  --purple: #BB72E9;
  --blue: #3996DB;
  --green: #82BC4F;
  --yellow: #EABD5F;

  /* Base */
  --gray-100: #E2E4E9;
  --gray-200: #C0C4CE;
  --gray-300: #878EA1;
  --gray-400: #292C34;
  --gray-500: #16181D;
  --gray-600: #0D0E11;

  /* Font */
  --h1: 700 2rem/120% 'Asap', sans-serif;
  --h2: 700 1.25rem/120% 'Asap', sans-serif;
  --h3: 700 1rem/120% 'Asap', sans-serif;
  --h4: 400 1rem/120% 'Inconsolata', sans-serif;
  --text-md: 400 .9375rem/140% 'Maven Pro', sans-serif;
  --text-sm: 400 .8125rem/140% 'Maven Pro', sans-serif;

}

html {
<<<<<<< HEAD
=======
  scroll-behavior: smooth;
}

body {
>>>>>>> db122da2299b32701c40755d98ba510105da3a5f
  scroll-behavior: smooth;
}


body {
  background-color: var(--gray-500);
  font: var(--text-md);
  color: var(--gray-300);

  & header {
    align-items: center;

    & h4 {
      color: var(--red);
    }
  }

  & h1 {
    font: var(--h1);
    color: var(--gray-100);
  }

  & h2 {
    font: var(--h2);
    color: var(--gray-100);
  }

  & h3 {
    font: var(--h3);
    color: var(--gray-100);
  }

  & h4 {
    font: var(--h4);
    color: var(--gray-200);
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.tag {
  display: flex;
  gap: .25rem;
  padding: .25rem .75rem;

  align-items: center;
  justify-content: center;
  border-radius: 999px;

  background-color: var(--gray-400);
  font: var(--text-sm);
  color: var(--gray-200);

}


@media (width >= 80em) {
  :root{
  --h1: 700 3.5rem/120% 'Asap', sans-serif;
  --h2: 700 1.5rem/120% 'Asap', sans-serif;
  --h3: 700 1rem/120% 'Asap', sans-serif;
  --h4: 400 1.25rem/120% 'Inconsolata', sans-serif;
  --text-md: 400 1rem/140% 'Maven Pro', sans-serif;
  --text-sm: 400 .875rem/140% 'Maven Pro', sans-serif;
  }

  .tag {
  gap: .5rem;
  padding: .5rem 1rem;

  font: var(--text-md);
}
}