#intro {
  background-image: url(../assets/Background_Intro.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

#info {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-inline: 1rem;
  padding-top: 2rem;

  & h4 {
    margin-bottom: .5rem;

    & span {
      color: var(--red);
    }
  }

  & h1 {
    margin-bottom: .75rem;
    text-align: center;
  }

  & p {
    font: var(--text-md);
    text-align: justify;
    margin-bottom: 2rem;
  }

  & .arrow-down {
    margin-top: 3.5rem;

    & i {
      width: 2rem;
      height: 2rem;
    }
  }

}

#profile {
  position: relative;
  margin-bottom: 3.5rem;

  & img:nth-child(1) {
    width: 5.625rem;
    height: 5.625rem;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--red);
  }

  & img:nth-child(2) {
    position: absolute;
    bottom: 0;
    right: 0;

    width: 2rem;
    height: 2rem;
  }
}

@media (width >=80em) {
  #info {
    padding-block: 7.5rem 3.5rem;

    & h1 {
      margin-bottom: 1.25rem;
    }

     & p {
    font: var(--text-sm);

    margin-bottom: 5rem;
    max-width: 42.5rem;
  }
  
  & .arrow-down {
    margin-top: 5.875rem;

    & i {
      width: 2rem;
      height: 2rem;
    }
  }
  }
}