#projects{
  padding-inline: 1rem;
  padding-top: 3rem;
  gap: 2rem;
  align-items: center; 
}

.card{
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  padding: .75rem;
  background-color: var(--gray-400);
  border-radius: .75rem;

  width: 20.625rem;
  height: 17.5rem;

  & img{
    width: 19.125rem;
    height: 9.75rem;
    object-fit: cover;
    border-radius: .5rem;
  }

  .description{
    display: flex;
    flex-direction: column;
    gap: .5rem;

    padding: .25rem;

    & p{
      font: var(--text-sm);
    }
  }

  &:hover{
    border: 1.5px solid var(--gray-300);
  }
}

@media (width >= 80em) {
  #projects{
  padding: 4.5rem 7.5rem 9rem;
  gap: 3.5rem;
}
}