.flex{
  display: flex;
}

.gap-8{
  gap: .5rem;
}
.gap-16{
  gap: 1rem;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column{
  flex-direction: column;
}

.grid{
  display: grid;
}

.gap-24{
  gap: 1rem;
}

@media (width >=80em){ 
  .grid-col-3{
    grid-template-columns: 1fr 1fr 1fr;
  }

  .gap-24{
  gap: 1.5rem;
}
}